<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Bosh sahifa{% endblock %}

{% block content %}
    <h1>Xush kelibsiz, {{ user.username }}!</h1>
    <p>Bu sizning kirim-chiqimlaringizni boshqarish sahifangiz.</p>
    {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" width="100" height="100" style="border-radius: 50%;">
    {% endif %}
    {% if user.phone_number %}
        <p>Telefon: {{ user.phone_number }}</p>
    {% endif %}
    <p>Kirim-chiqimlar bilan ishlash uchun keyingi funksiyalar bu yerda bo‘ladi.</p>
{% endblock %}