{% extends 'base.html' %}

{% block title %}Kirim Kategoriyalari{% endblock %}

{% block content %}
    <h2>Kirim Kategoriyalari</h2>
    <p><strong>Umumiy Kirim:</strong> {{ total }} so‘m</p>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'transactions:add_income' category.id %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="category_name" placeholder="Yangi kategoriya nomi" required>
        <button type="submit">Qo‘shish</button>
    </form>
    <a href="{% url 'transactions:main_page' %}">Orqaga qaytish</a>
{% endblock %}